body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.results {
margin-top: 20px;
}

.small-image {
max-height: 100px;
}

.table-text {
line-height: 100px;
font-size: 1.7em;
}
